<!DOCTYPE html>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> signInManager

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Employee Management</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">

                    <li class="nav-item"><a class="nav-link active" aria-current="page" asp-controller="Account" asp-action="AssignRole">AssignRole</a></li>
                    <li class="nav-item"><a class="nav-link active" aria-current="page" asp-controller="Account" asp-action="UsersWithRoles">UserWith</a></li>
                    <li class="nav-item"><a class="nav-link active" aria-current="page" asp-controller="Role" asp-action="Index">RoleList</a></li>
                    <li class="nav-item"><a class="nav-link active" aria-current="page" asp-controller="Role" asp-action="Create">CrearteRoleList</a></li>

                    @if (signInManager.IsSignedIn(User))
                    {
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" asp-controller="Employee" asp-action="Index">Employee List</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Employee" asp-action="Create">Create Employee</a>
                        </li>
                        <li class="nav-item">
                            <form method="post" asp-controller="Account" asp-action="Logout" class="nav-link">
                                <button type="submit" class="btn btn-link">Logout @User.Identity.Name</button>
                            </form>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Account" asp-action="Registration">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Account" asp-action="Login">Login</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-4">
        @RenderBody()
    </div>

    <script src="~/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
