@model List<CoreWebApp.Models.ViewModels.UserWithRolesViewModel>

<h1>Users with Roles</h1>

<table class="table">
    <thead>
        <tr>
            <th>User ID</th>
            <th>User Name</th>
            <th>Roles</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.UserId</td>
                <td>@user.UserName</td>
                <td>
                    @foreach (var role in user.Roles)
                    {
                        <span>@role</span>

                        <br />
                    }
                </td>
            </tr>
        }
    </tbody>
</table>


